html.no-js(lang='en')
head
	jmeta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='stylesheet', href='foundation/css/foundation.css')
	link(rel='stylesheet', href='css/stylesheet.css')
	link(href='http://fonts.googleapis.com/css?family=EB+Garamond', rel='stylesheet', type='text/css')
body
	div.fixed
		nav.top-bar

	div.wishlist
		h4.wishlist-header Your Wishlist
		div.wishlist-list.css3-shadow
			ul.no-bullet
				li.padding hello
		a.button(id='wishlist-submit', href='#', data-reveal-id='submitModal') Save


	div.content
		div.champ-input
			input(id="champ-input", type="text", list="champions", placeholder="Enter champion name")
			button.tiny(id="load-skins-button") View Skins
		h5 Click on a skin to add to your wishlist

		ul.small-block-grid-1.select-area
		datalist(id="champions")

	div.reveal-modal(data-reveal='', id="submitModal")
		h4 Enter the email address you want to be notified at
		div
			input(id="email-input", type="text")
			button.tiny(id="saveWishlist") Save wishlist
		a.close-reveal-modal &#215;

	li.item-li(id="skin_template", style="display: none;")
		div.select-item.css3-shadow
			div.splash-container.css3-shadow
				img(src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Brand_3.jpg")
			div.title-container Brand
	li.wishlist-item.css3-shadow-wishlist(id="wishlist_template", style="display: none;")
		div Annie in Wonderland
		input(type="image", src="https://cdn1.iconfinder.com/data/icons/nuove/128x128/actions/fileclose.png")

footer
	script(src='foundation/js/vendor/jquery.js')
	script(src='foundation/js/foundation.min.js')
	script(src='js/script.js')
