html.no-js(lang='en')
head
	jmeta(charset='utf-8')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	link(rel='stylesheet', href='foundation/css/foundation.css')
	link(rel='stylesheet', href='css/stylesheet.css')
	link(href='http://fonts.googleapis.com/css?family=EB+Garamond', rel='stylesheet', type='text/css')
	script(src='foundation/js/modernizr.js')
body
	div.fixed
		nav.top-bar

	div.wishlist
		h4.wishlist-header Your Wishlist
		div.wishlist-list.css3-shadow
		button(id=wishlist-submit) Save
	ul.small-block-grid-1.select-area
		li
			div.champ-input
				input(id="champ-input", type="text", list="champions", placeholder="Enter champion name")
				button.tiny(id="load-skins-button") View Skins
		li.item-li
			div.select-item.css3-shadow
				div.splash-container.css3-shadow
					img(src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Brand_3.jpg")
				div.title-container Brand
		li.item-li
			div.select-item.css3-shadow
				div.splash-container.css3-shadow
					img(src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Brand_3.jpg")
				div.title-container Brand
		li.item-li
			div.select-item.css3-shadow
				div.splash-container.css3-shadow
					img(src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Brand_3.jpg")
				div.title-container Brand
	datalist(id="champions")
	li.item-li(id="skin_template", style="display: none;")
		div.select-item.css3-shadow
			div.splash-container.css3-shadow
				img(src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Brand_3.jpg")
			div.title-container Brand

footer
	script(src='foundation/js/vendor/jquery.js')
	script(src='foundation/js/foundation.min.js')
	script(src='js/script.js')
