.nav-bar { 
	position: fixed;
}

.select-item {
	width: 498px;
	height: 300px;
	background-color: #CEE2EB;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.splash-container {
	width: 400px;
	height: 240px;
	background-color: gray;
	padding: 5px 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.splash-container img {
	width: 400px;
}

.title-container {
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	font-family: 'EB Garamond', serif;
}

.wishlist {
  position: fixed;
  width: 290px;
  height: 100%;
  background-color: #98DDFA;
  overflow: hidden;
  float: left;
}

.select-area {
  height: auto;
  margin-left: 292px;
  background-color: #B8CBD4;
  overflow: auto;
}

.select-area .row{
	height: auto;
}

.champ-input {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.champ-input input {
	width: 239px;
	height: 40px;
	margin: 0 0 0 0;
	margin-right: 10px;
	text-align: center;
	font-size: 18px;
	float: left;
}

.champ-input button {
	width: 101px;
	height: 40px;
}
