.nav-bar { 
	position: fixed;
}

.select-item {
	width: 498px;
	height: 300px;
	background-color: #CEE2EB;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;
}

.splash-container {
	width: 400px;
	height: 240px;
	padding: 5px 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}

.splash-container img {
	width: 400px;
}

.title-container {
	width: 300px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	font-family: 'EB Garamond', serif;
}

.wishlist {
  position: fixed;
  width: 290px;
  height: 100%;
  background-color: #DAE9F0;
  overflow: hidden;
  text-align: center;
  float: left;
}

.wishlist-header {
  margin-top: 60px;
  text-align: center;
  font-family: 'EB Garamond', serif;
}

.wishlist-list {
  height: calc(100% - 165px);
  width: 80%;
  background-color: #B8CBD4;
  margin: 0 auto;
  overflow: auto;
}

.padding {
  visibility: hidden;
}

.wishlist button {
  width: 60%;
  background-color: #89B3C7;
  margin-top: 8px;
  font-size: 20px;
  font-family: 'EB Garamond', serif;
}

.wishlist-item {
	margin: 10px 30px;
	color: #173B4D;
	font-family: 'EB Garamond', serif;
	overflow: auto;
}

.wishlist-item div {
	width: 70%;
	margin-left: 20px;
	white-space: nowrap;
	overflow: hidden;
	float: left;	
}

.wishlist-item input {
	float: right;
	height: 25px;
}

.select-area {
  height: 100%;
  margin-left: 292px;
  background-color: #B8CBD4;
  overflow: auto;
}

.select-area .row{
	height: auto;
}

.champ-input {
	width: 350px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 80px;
}

.champ-input input {
	width: 239px;
	height: 40px;
	margin: 0 0 0 0;
	margin-right: 10px;
	text-align: center;
	font-size: 18px;
	font-family: 'EB Garamond', serif;
	float: left;
}

.champ-input button {
	width: 101px;
	height: 40px;
    background-color: #89B3C7;
	font-size: 14px;
    font-family: 'EB Garamond', serif;
}

.select-area li h5 {
	text-align: center;
	color: #173B4D;
    font-family: 'EB Garamond', serif;
}

.css3-shadow{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3);
}

.css3-shadow:after{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 40px rgba(0,0,0,0.8);
    box-shadow:0 0 40px rgba(0,0,0,0.8);
    bottom:0px;
    left:10%;
    right:10%;
    width:80%;
    height:50%;
    -moz-border-radius:100%;
    border-radius:100%;
}
