html.no-js(lang='en')
head
  jmeta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet', href='foundation/css/foundation.css')
  link(href='http://fonts.googleapis.com/css?family=EB+Garamond', rel='stylesheet', type='text/css')
body
  h4 #{msg}
footer
  script(src='foundation/js/vendor/jquery.js')
  script(src='foundation/js/foundation.min.js')
